/cmake-build-debug/
CMakeLists.txt
/.idea/
README.md
*.sln
*.json
*.sqlite
*.vsidx
*.lock
*.db
.vs/The C programming language/v17/.suo
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.filters
*.user
*.json
*.obj
*.tlog
*.pdb
.vs/The C programming language/v17/.wsuo
*.idb
*.log
*.exe
Calculator/.vs/Calculator/v17/.suo
*.recipe
*.ilk
